[submodule "public"]
	path = public
	url = https://github.com/keaising/keaising.github.io.git
	branch = master
[submodule "themes/hugo-primer"]
	path = themes/hugo-primer
	url = https://github.com/keaising/hugo-primer.git
	branch = master
[submodule "src/gen"]
	path = src/gen
	url = https://github.com/keaising/gen.git
